
.stayincenter{ text-align: center;}

.bcolor{ background-color:#2B2227; }

.navcolor { background-color:#AB396D; }

.pcolor span{ color: #AB396D; }

.acolor a{ color:  black; }

.pChange{ background: url("images/search.png"); background-size: cover; background-repeat: no-repeat; width: 40px;}